@model Resulfinance


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/tpl/css/task.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h2>Tareas</h2>
        <div class="search">
            <input type="text" placeholder="Buscar">
            <button class="btn-search">Buscar</button>
        </div>
        <div class="view-buttons">
            <button class="list-btn active" data-view="list">Lista</button>
            <button class="kanban-btn" data-view="kanban">Kanban</button>
        </div>
        <button class="btn-create">Crear tarea</button>
    </div>
    <div class="modal" style="display:block;">
        <div class="modal-content">
            <div class="cover-photo"></div>
            <form method="post" asp-action="Createfinance">
                <input asp-for="finance.finance_id" type="hidden" />
                <item lines="none">
                    <textarea asp-for="finance.name" type="text" class="task-title-input" placeholder="Untitled"></textarea>
                </item>

                <list>
                    <item lines="none" class="task-item">
                        <span class="iconify" data-icon="codicon:symbol-numeric" style="color: #a5a4a1;"></span>
                        <label class="task-label">Monto</label>
                        <input class="task-input" type="number" asp-for="finance.amount" placeholder="Empty"></input>
                    </item>

                    <item lines="none" class="task-item">
                        <span class="iconify" data-icon="ion:list-outline" style="color: #a5a4a1;"></span>
                        <label class="task-label">Tipo</label>
                        <select class="task-input" asp-for="finance.type" placeholder="Empty">
                            <option value="Cuidado Personal">Cuidado Personal</option>
                            <option value="Estudios universidad">Estudios universidad</option>
                            <option value="Crecimiento personal">Crecimiento personal</option>
                            <option value="Salud y bienestar">Salud y bienestar</option>
                            <option value="Finanzas personales">Finanzas personales</option>
                            <option value="Hobbies y pasatiempos">Hobbies y pasatiempos</option>
                            <option value="Desarrollo profesional">Desarrollo profesional</option>
                            <option value="Mascotas">Mascotas</option>
                            <option value="Hogar">Hogar</option>
                            <option value="Compromiso social">Compromiso social</option>
                            <option value="Eventos o reuniones">Eventos o reuniones</option>
                            <option value="Viajes y aventuras">Viajes y aventuras</option>
                            <option value="Crecimiento personal">Crecimiento personal</option>
                        </select>
                    </item>

                    <item lines="none" class="task-item">
                        <span class="iconify" data-icon="mdi:checkbox-outline" style="color: #a5a4a1;"></span>
                        <label class="task-label">Tipos de gastos</label>
                        <select class="task-input" asp-for="finance.type_expenses" placeholder="Empty">
                            <option value="Baja">Baja</option>
                            <option value="Media">Media</option>
                            <option value="Alta">Alta</option>
                        </select>
                    </item>

                    <item lines="none" class="task-item">
                        <span class="iconify" data-icon="ion:calendar-number-outline" style="color: #a5a4a1;"></span>
                        <label class="task-label">Date</label>
                        <input class="task-input" type="date" asp-for="finance.date" placeholder="Empty"></input>
                    </item>

                    <item lines="none" class="task-item">
                        <span class="iconify" data-icon="ion:document-text-outline" style="color: #a5a4a1;"></span>
                        <label class="task-label">Descripción</label>
                        <textarea type="text" class="task-input" asp-for="finance.description" placeholder="Empty"></textarea>

                    </item>
                </list>
                <div class="btn-container">
                    <button type="submit" class="btn guardar">Guardar</button>
                    <button type="button" class="btn cerrar">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="tasks">
        <div class="list-view">
            <table>
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Prioridad</th>
                        <th>Tipo</th>
                        <th>Estatus</th>
                        <th>Creación</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se generan las tareas en la vista de lista -->
                    @foreach (var item in Model.finances)
                    {
                        <tr>
                            <td>@item.name</td>
                            <td>@item.description</td>
                            <td>@item.type</td>
                            <td>@item.amount</td>
                            <td>@item.type_expenses</td>
                            <td>@item.date</td>
                            <td>
                                <a asp-action="Deletefinance" asp-controller="Finance" asp-route-finance_id="@item.finance_id" class="btn delete">Delete</a>
                            </td>
                            <td>
                                <a asp-action="Editfinance" asp-controller="Finance" asp-route-finance_id="@item.finance_id" class="btn-create">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <br />
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script src="~/tpl/js/task.js"></script>

</body>

</html>
